* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: top;
}

a {
    font: inherit;
    color: inherit;
}

textarea {
    font: inherit;
    color: inherit;
}

input {
    font: inherit;
    color: inherit;
}

button {
    font: inherit;
    color: inherit;
    text-transform: inherit;
    outline: none;
    border: none;
    background: none;
}

html {
  overflow-x: hidden;
}

main {
    background-color: #FCFDFD;
}

html.overflow {
  height: auto;
  position: relative;
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
  margin-right: 18px;
}

body {
  overflow: hidden;
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #55606a;
}

.container {
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

.main_caption {
    font-family: "Gilroy", sans-serif;
    font-size: 48px;
    line-height: 57px;
    text-transform: uppercase;
    text-align: center;
}

.main-button-color {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    max-width: 300px;
    height: 52px;
    line-height: 50px;
    background-color: #0d990d;
    color: #fff;
    text-transform: uppercase;
    border-radius: 7px;
    cursor: pointer;
}


.main_button {
    max-width: 300px;
    width: 100%;
    border: 2px solid #55606a;
    height: 52px;
    color: #55606a;
    font-size: 14px;
    font-weight: 700;
    background-color: transparent;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 7px;
    cursor: pointer;
    
    &.form {
        color: #0D990D;
        border-color: #0D990D;
    }
}


.star__list {
    display: flex;
    
    .star__item {
        margin-right: 2px;
        
        &:last-child {
            margin-right: 0px;
        }
    }
    
    
    span {
        &:before {
            content: "\e906";
            color: #0d990d;
        }
    }
}

.star__item {
    &.active {
        ~ .star__item {
            span {
                &:before {
                      content: "\e905";
                    color: #0d990d;
                }
            }
        }
    }
}

.breadcrumbs__list {
    display: flex;
    color: #55606a;
    font-size: 16px;
    margin: 30px 0px 50px;
    
    a {
         text-decoration: none;
    }
}

.breadcrumbs__item {
    padding-right: 10px;
    position: relative;
    
    &::before {
        content: "|";
        position: absolute;
        top: 0px;
        right: 0px;
    }
    
    &.active {
        color: #8898a5;
        
        &::before {
            display: none;
        }
    }
}

.input__wrapper {
    &.active {
        color: #0D990D;
        
        .main_input {
            border-color: #0D990D;
            color: #0D990D;
        }
    }
    
    &.error {
        color: #FF4800;
        
        .main_input {
            border-color: #FF4800;
            color: #FF4800;
        }
    }
    
    span {
        font-size: 14px;
    }
}

.main_input {
    height: 52px;
    padding-left: 20px;
    border-radius: 7px;
    background: #fff;
    outline: none;
    border: 1px solid #fff;
    transition: border-color .4s;
    color: #000000;
    box-shadow: 0px 4px 25px rgba(196, 206, 214, 0.25);
    
    &::placeholder {
        color: #afbbc6;
    }
    
    &:focus {
        border-color: rgb(85, 96, 106);
    }
}

/* Notification */

.push_notification {
  position: fixed;
  right: 0px;
  top: 60px;
  z-index: 6;
}

.noty_theme__push_notification__item {
    width: 450px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(85, 96, 106, 0.25);
    color: #fff;
    padding: 25px 60px 25px 30px;
    position: relative;
    color: #55606A;
    font-size: 14px;
    min-height: 110px;
    
    .img {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
    
    .img-error {
        display: none;
    }
    
    .close__popup {
        width: 32px;
        height: 32px;
        top: 8px;
        right: 8px;
        
        span {
            font-size: 10px;
        }
    }
    
    &.noty_type__error {
        .img {
            display: none;
        }
        
        .img-error {
            display: block;
        }
    }
}



/* /Notification */

/* Pagination */

.pagination__list {
    display: flex;
    font-size: 16px;
    color: #98a1a9;
}

.pagination__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #e0e3e6;
    border-radius: 5px;
    background-color: #fff;
    margin-right: 10px;
    transition: color .4s, border-color .4s;
    
    a {
        text-decoration: none;
        padding: 10px 15px;
    }
    
    &.dots {
        border: none;
        margin-right: 0px;
        margin-left: -10px;
        
    }
    
    &.active {
        color: #55606a;
        border-color: #55606a;
    }
        
    &.prev {
        margin-right: 50px;
    }
    
    &.next {
        margin-left: 40px;
    }
}

.pagination__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.pagination__button {
    cursor: pointer;
}

.pagination-info {
    color: #98a1a9;
    font-size: 14px;
}


/* Number button */

.number__button {
    display: flex;
    justify-content: center;
    user-select: none;
    
    .button-arrow {
        transition: transform .4s;
        
        &.disable {
            transform: scale(0.92);
            
            span {
                &::before {
                    color: #ccc;
                }
            }
        }
    }
    
    .number-slider {
        display: flex;
        align-items: flex-end;
        margin: 0px 30px;
        font-size: 16px;
        
        li:nth-child(2) {
            padding: 0px 4px 0px 6px;
        }
        
        .current {
            font-size: 28px;
            line-height: 28px;
        }
    }
}

/* /Number button */


/* Active Stars */

.review_form__wrapper{
    .stars__list {
        &.checked {
            span {
                &::before {
                    content: "\e905";
                    color: #d00019;
                }
            }
            
            &:hover {
                span {
                    &::before {
                        content: "\e906";
                        color: #d00019;
                    }
                }
            }
        }
    }
    
    .star__item {
        cursor: pointer;
        padding-right: 20px;
        
        &:last-child {
            padding-right: 0px;
        }
        
        &.active {
            ~ .star__item span:before  {
                content: "\e905";
                color: #0d990d;
            }
        }
        
        &:hover {
            ~ .star__item span:before {
                content: "\e905";
                color: #0d990d;
            }
        }
    }
}

/* /Active Stars */

/* Reviews Form */

.review_form__wrapper {
    width: 100%;
    padding: 70px 60px 30px;
    background-color: #fff;
    
    fieldset {
        border: none;
    }
    
    h5 {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    
    .star__list {
        margin: 35px 0px 40px;
        justify-content: center;
    }
    
    .star__item {
        
        span {
            font-size: 34px;
        }
    }
    
    .wrapper-photo {
        display: flex;
        position: relative;
        width: calc(25% - 35px);
        margin-right: 55px;
    }
    
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        
        .input__wrapper {
            &:last-child {
                margin-bottom: 0px;
            }
        }
        
        fieldset {
            width: calc(75% - 15px);
        }
        
        .delete-photo {
            position: absolute;
            width: 15px;
            height: 15px;
            padding: 5px;
            top: 0px;
            right: 0px;
            cursor: pointer;
            transform: rotate(45deg);
            opacity: 0;
            z-index: -1;
            transition: opacity .4s;
            
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: #e72626;
                transition: background-color .4s;
                transform: translateX(-6px);
            }
            
            &::after {
                content: "";
                position: absolute;
                width: 3px;
                height: 100%;
                background-color: #e72626;
                transform: translateX(0px) translateY(-6px);
                transition: background-color .4s;
            }
        }
    }
    
    .add-photo {
        position: relative;
        height: 160px;
        border-radius: 50%;
        border: 1px solid #EAEEF1;
        
        &.active {
            img {
                opacity: 1;
                z-index: 1;
            }
            
            .custome_button {
                opacity: 0;
                z-index: -1;
            }
            
            + .delete-photo {
                opacity: 1;
                z-index: 1;
            }
        }
        
        img {
            position: absolute;
            right: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            opacity: 0;
            z-index: -1;
            transition: opacity .4s;
        }

        .file_input {
            position: absolute;
            left: 0px;
            top: 0px;
            opacity: 0;
            z-index: -1;
        }
        
        .custome_button {
            display: inline-block;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            background-color: #EAEEF1;
            cursor: pointer;
            transition: opacity .4s;
            
            &:hover {
                .hover {
                    opacity: 1;
                }
            }
            
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                width: 55px;
                height: 50px;
                transform: translate(-50%, -50%);
                background: url(../img/cat-form.svg) no-repeat center;
                background-size: contain;
            }
            
            .hover {
                opacity: 0;
                position: absolute;
                left: 0px;
                top: 0px;
                width: 160px;
                height: 160px;
                border-radius: 50%;
                background-color: #C4CED6;
                transition: opacity .4s;
                
                &::before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 48px;
                    height: 48px;
                    transform: translate(-50%, -50%);
                    background: url(../img/file.svg) no-repeat center;
                    background-size: contain;
                }
            }
        }
    }
    
    .input__wrapper {
        textarea {
            height: 155px;
            padding-top: 15px;
            resize: none;
        }
    }
    
    .main_button {
        margin: 50px auto 0px;
    }
}