@media (max-width: 1160px) {
    .container {
        max-width: 750px;
    }
    
    .main_caption {
        font-size: 24px;
        line-height: 32px;
    }
    
    .main-button-color {
        max-width: 280px;
        font-size: 14px;
    }
    
    .main_button {
        max-width: 280px;
        font-size: 14px;
    }
    
    html.overflow {
        margin-right: 0px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 400px;
    }
    
    .main_caption {
        font-size: 20px;
        line-height: 27px;
    }
}