/* Slider */

main {
    position: relative;
    z-index: 1;
}

.main-screen {
    position: relative;
}

.main-screen__slider {
    height: 780px;
    margin-top: -60px;
    margin-bottom: 120px;
}

.slider_item {
    position: absolute;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity .8s;
    z-index: -1;
    
    &.show {
        position: relative;
        opacity: 1;
        z-index: 1;
        
        .slider_info {
            animation-name: main-slider;
        }
    }
}

.slider_info {
    padding-top: 275px;
    max-width: 700px;
    position: relative;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    
    .main_caption {
        margin-bottom: 25px;
        text-align: left;
    }
    
    p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 35px;
    }
}

@keyframes main-slider {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.button-arrow {
    cursor: pointer;
        
    span {
        font-size: 12px;
        
        &::before {
            transition: color .4s;
        }
        
    }
    
    &.no-active {
        span {
            &::before {
                color: #ccc;
            }
            
        }
    }
}

.main-screen__button {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    z-index: 1;
    
    .number-slider {
        font-family: "Gilroy", sans-serif;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: 0px 25px;
        font-size: 14px;
        font-weight: 500;
        width: 40px;
        
        .current {
            font-size: 24px;
            line-height: 20px;
            font-weight: 700;
        }
        
        li {
            padding-right: 5px;
            
            &:last-child {
                padding-right: 0px;
            }
        }
    }
}

/* /Slider */

/* Our Secret */

.our-secret__wrapper {
    margin-bottom: 120px;
    
    .wrapper {
        display: flex;
    }
    
    
    > p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin: 30px 150px;
    }
}

.our-secret__main-img {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-secret__list {
    text-align: right;
    width: 30%;
    
    &:last-of-type {
        text-align: left;
        
        .description {
            order: 1;
        }
    }
    
    h5 {
        font-size: 20px;
        margin-bottom: 15px;
    }
}

.our-secret__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
    .description {
        width: 75%;
    }
}

/* /Our Secret */

/* Popular products */

.popular-product {
    margin-bottom: 125px;
}

.popular-product__wrapper {
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        left: -155px;
        top: 0px;
        width: 240px;
        height: 230px;
        background: url(../img/popuplar-decor.png) no-repeat center;
        background-size: contain;
    }
}

.main-page {
    .product__list {
        max-width: 1150px;
        padding: 0 20px;
        margin: 30px auto 0px;
        
        .mobile-item {
            display: none;
        }
    }
    
    .product__item {
        margin-right: 0px;
    }
    
    .blog__list {
        max-width: 1150px;
        padding: 0 20px;
        margin: 20px auto 0px;
        justify-content: space-between;
    
        .mobile-item {
            display: none;
        }
        
        .blog__item {
           flex-shrink: 0;

           &:last-of-type {
               margin-right: 0px;
           }
        }
    }
}


.product__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -30px;
    
    .mobile-item {
        display: none;
    }
}

.product__item {
    display: flex;
    justify-content: space-between;
    width: 540px;
    height: 245px;
    background-color: #f7f9fb;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-right: 25px;
    padding: 25px 30px;
    position: relative;
    
    .name {
        font-weight: 700;
        text-decoration: none;
        font-size: 18px;
        line-height: 16px;
        margin-bottom: 10px;
        transition: color .4s;
    }
    
    .product_weight {
        color: #afbbc6;
        transition: color .4s;
    }
    
    .sale-percent {
        position: absolute;
        left: 30px;
        top: 22px;
        border-radius: 5px;
        background-color: rgb(255, 72, 0);
        width: 60px;
        height: 28px;
        color: #fff;
        font-family: "Gilroy", sans-serif;
        font-size: 16px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 30%;
        height: 100%;
        margin-right: 20px;
        
        img {
            height: 100%;
            object-fit: contain;
        }
    }
    
    .info {
        font-size: 14px;
        margin-bottom: auto;
        height: 95px;
        overflow: hidden;
        
        span {
            font-weight: 700;
            padding-right: 5px;
        }
    }
}

.procuct__item-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    .price {
        font-size: 24px;
        line-height: 26px;
        font-weight: 700;
    }
}

.product-add-to-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    border-radius: 5px;
    background-color: rgb(13, 153, 13);
    cursor: pointer;
    
    span {
        &:before {
            color: #fff;
        }
    }
}

.star-sub-info__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #afbbc6;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}

.product__description {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.star-sub-info__wrapper {
    display: flex;
}

.product-button__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 0px 20px;
}

/* /Popular products */


/* Sale products */

.sale-product {
    margin-bottom: 140px;
}

.price__wrapper {
    display: flex;
    align-items: center;
    
    .price_old {
        order: 1;
        text-decoration: line-through;
        margin-left: 14px;
        font-size: 16px;
        font-weight: 700;
        color: #afbbc6;
        
        & + .price {
            color: #ff4800;
        }
    }
}

.sale-product__wrapper {
    position: relative;
    
     &::before {
        content: "";
        position: absolute;
        right: -100px;
        top: 0px;
        width: 400px;
        height: 230px;
        background: url(../img/product-sale-img.png) no-repeat center;
        background-size: contain;
    }
}

/* Sale product */

/* Subscription */

.subscription {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px 0px;
}

.subscription__wrapper {
    display: flex;
    flex-direction: column;
    
    p {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        margin-top: 30px;
    }
}

.subscription_form {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 0px;
    
    .main_input {
        width: 70%;
        box-shadow: none;
    }
}

/* /Subscription */

/* Main reviews */

.main_reviews__wrapper {
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        width: 160px;
        height: 200px;
        right: -120px;
        top: -50px;
        background: url(../img/main-reviews-img-1.png) no-repeat center;
        background-size: contain;
    }
    
    &::after {
        content: "";
        position: absolute;
        width: 140px;
        height: 140px;
        left: -150px;
        bottom: -150px;
        background: url(../img/main-reviews-img-2.png) no-repeat center;
        background-size: cover;
    }
}
.main_reviews {
    margin: 130px 0px;
}

.main_reviews__text-wrapper {
    position: relative;
}

.main_reviews__button {
    position: absolute;
    left: -65px;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% + 130px);
    display: flex;
    justify-content: space-between;
    z-index: 1;
    
    span {
        font-size: 12px;
    }
    
    button {
        cursor: pointer;
    }
}

.main_reviews__text-list {
    margin-top: 25px;
    position: relative;
    height: 190px;
}

.main_reviews__text-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f7f9fb;
    width: 100%;
    padding: 40px 60px;
    transform: translateX(-200%);
    transition: transform .6s;
    
    &.show {
        transform: translateX(0px);
        
        & ~ .main_reviews__text-item {
            transform: translateX(200%);
        }
    }
    
    .content {
        max-height: 47px;
        overflow: hidden;
        transition: max-height 0.1s;
    }
    
    h4 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    
    &.active {
        .content {
            max-height: 200px;
            transition: max-height 0.4s linear;
        }
        
        .more_info {
            &::before {
                content: "Скрыть блок";
            }
        }
    }
}

.more_info {
    display: none;
    text-decoration: underline;
    color: #99a8b6;
    margin-top: 5px;
    border: none;
    background: none;
    cursor: pointer;
    
    &::before {
        content: "Читать полностью";
    }
    
    &.show {
        display: block;
    }
}

.main_reviews__img-list {
    margin: 15px auto;
    width: 320px;
    height: 150px;
    overflow: hidden;
    text-align: center;
    color: #afbbc6;
    font-weight: 600;
    position: relative;
}

.main_reviews__img-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    opacity: 0.5;
    transform: scale(0.9) translateX(0px);
    transition: transform .6s, opacity .4s;
    
    .img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    
    .name {
        margin: 15px 0px 7px;
        opacity: 0;
        transition: opacity .4s;
    }
    
    .star__list {
        opacity: 0;
        transition: opacity .4s;
    }
    
    &.show {
        opacity: 1;
        transform:  translateX(100px) scale(1);
        
        & +  .main_reviews__img-item {
            transform: scale(0.9) translateX(225px);
            
            & ~ .main_reviews__img-item {
                transform: scale(0.9) translateX(425px);
            }
        }
        
        .name {
            opacity: 1;
        }
        
        .star__list {
            opacity: 1;
        }
    }
    
    &.prev {
        transform: scale(1) translateX(-200px);
    }
}

/* /Main reviews */

/* Blog */

.blog {
    margin-bottom: 10px;
    
    .product-button__wrapper {
        margin-top: 40px;
    }
}

.blog__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: 30px;
}

.blog__item {
    width: 350px;
    margin-right: 30px;
    background-color: #f7f9fb;
    border-radius: 10px;
    vertical-align: top;
    padding-bottom: 25px;
    transition: box-shadow .4s;
    
    &:hover {
        box-shadow: 0px 4px 25px rgba(133, 147, 159, 0.5);
    }
    
    .description {
        padding: 20px 30px 0px;
        height: 210px;
        overflow: hidden;
    }
    
    .description-header {
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        color: #afbbc6;
        font-size: 14px;
        font-weight: 800;
        margin-bottom: 15px;
    }
    
    .img {
        border-radius: 10px;
        
        img {
            border-radius: 10px;
        }
    }
    
    h5 {
        font-size: 18px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }
    
    .content {
        font-size: 15px;
        line-height: 22px;
    }
    
    .more {
        padding: 0px 30px 0px;
        color: #99a8b6;
        font-size: 16px;
    }

}

/* /Blog */

/* Decor bg */

.main-decor-bg {
    width: 100%;
    height: 370px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* /Decor bg */

/* Catalog */

.catalog__button {
    display: none;
}

.pagination__list {
    display: none;
}

.pagination__wrapper {
    justify-content: center;
    margin-bottom: 15px;
}

.catalog__wrapper {
    .main_caption {
        text-align: left;
    }
    
    .catalog__filter {
        width: calc(25% - 30px);
    }
    
    .poduct__list_wrapper {
        width: 75%;
        margin-bottom: 120px;
    }
    
    > .wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    
    .product__list {
        margin-top: 20px;
    }
    
    .product__item {
        flex-direction: column;
        justify-content: flex-start;
        height: 245px;
        width: 400px;
        
        .info {
            height: 80px;
        }
        
        .img {
            height: 125px;
        }
        
        > .img {
            display: none;
        }
        
        .sale-percent {
            top: 65px;
        }
    }
    
    .product__description {
        width: 100%;
        flex-direction: row;
        align-items: center;
        
        .wrapper {
            width: calc(70% - 20px);
            
            > p {
                color: #afbbc6;
                font-size: 14px;
                margin-bottom: 7px;
            }
        }
    }
    
    .product__description-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        
        p {
            display: none;
        }
    }
    
    .price__wrapper {
        flex-direction: column;
        align-items: flex-start;
        
        .price_old {
            order: 0;
            margin-left: 0px;
            margin-top: 5px;
        }
    }
}


.sort_type {
    display: flex;
    position: relative;
    z-index: 1;
    
    &.active {
        z-index: 2;
        .drop_list {
            padding: 75px 40px 40px;
            max-height: 410px;
            opacity: 1;
            transition: max-height 0.4s, padding 0.4s, opacity 0.4s, z-index 0s;
        }
        
        .show_more_sort {
            z-index: 2;
        }
    }
    
    &.number {
        .show_more_sort {
            min-width: 55px;
        }
        
        .drop_item {
            width: 50px;
        }
    }
    
    > span {
        padding-right: 5px;
        font-weight: 700;
    }
    
    .drop_list {
        position: absolute;
        right: -40px;
        top: -40px;
        padding: 0px 40px 0px;
        background-color: #fff;
        z-index: 2;
        max-height: 0px;
        opacity: 0;
        border-radius: 5px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.09);
        z-index: 1;
        overflow: hidden;
    }
    
    .drop_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 180px;
        margin-bottom: 20px;
        cursor: pointer;
        transition: color .4s;
        
        &:first-child {
            padding-top: 20px;
            border-top: 1px solid #ebebeb;
        }
        
        &:last-child {
            margin-bottom: 0px;
        }
        
        &.active {
            color: #b4b7bb;
            
            span {
                &:before {
                    color: #b4b7bb;
                }
            }
        }
        
        p {
            transition: text-shadow .4s;
        }
    }
}

.show_more_sort {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    min-width: 160px;
    
    > div {
        display: flex;
        align-items: center;
        
        span {
            padding-left: 10px;
        }
    }
    
    > span {
        font-size: 6px;
        padding-left: 15px;
    }
}

.product__sort {
    display: flex;
    justify-content: space-between;
}

.catalog__filter {
    .filter_caprion {
        text-transform: uppercase;
        margin-bottom: 15px;
        font-size: 18px;
    }
    
    .mobile-filter {
        display: none;
    }
}

.catalog__checkbox {
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e3e6;
    
    label {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        position: relative;
        cursor: pointer;
    }
    
    input {
        position: absolute;
        opacity: 0;
        
        &:checked {
            + .custome-checkbox {
                border-color: #0d990d;
                
                &::before {
                    opacity: 1;
                }
            }
        }
    }
    
    .custome-checkbox {
        width: 16px;
        height: 16px;
        border: 1px solid #55606a;
        display: inline-block;
        margin-right: 15px;
        position: relative;
        transition: border-color .4s;
        
        &::before {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background-image: url(../img/active.svg);
            background-color: #0d990d;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0;
            transition: opacity .4s;
        }
    }
}

.catalog__price {
    margin-top: 25px;
}

/* /Catalog */

/* Product open */

.product {
    margin-bottom: 50px;
}
.product__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.product__slider {
    display: flex;
    justify-content: center;
    background-color: #f7f9fb;
    width: calc(50% - 15px);
    padding: 40px 0px 80px;
    position: relative;
    border-radius: 10px;
}

.product__slider_buttons {
    position: absolute;
    left: 25px;
    top: 50%;
    width: calc(100% - 50px);
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 2;
    
    .prev {
        transform: rotate(90deg);
    }
    
    .next {
        transform: rotate(-90deg);
    }
    
    button {
        display: flex;
        cursor: pointer;
        padding: 5px;
        
        &.disable {
            cursor: initial;
            
            span {
                transform: scale(0.95);
                
                &::before {
                    color: #ccc;
                }
            }
        }
        
        span {
            font-size: 14px;
            transition: transform .4s, color .4s;
            
            &:before {
                color: #85939f;
            }
        }
    }
}
.product__slider_list {
    position: relative;
    height: 370px;
}

.product__slider_item {
    width: 270px;
    height: 370px;
    position: absolute;
    transform: translateX(-600px);
    opacity: 0;
    z-index: 1;
    transition: transform .6s, opacity .6s;
    
    img {
        height: 100%;
        object-fit: contain;
    }
    
    &.show {
        transform: translateX(-140px);
        opacity: 1;
        z-index: 2;
        
        ~ .product__slider_item {
            transform: translateX(300px);
            opacity: 0;
            z-index: 1;
        }
    }
}

.product__dots_list {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}

.product__dots_button {
    display: flex;
    width: 70px;
    height: 3px;
    cursor: pointer;
    margin-right: 10px;
    padding: 10px 0px;
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 10px;
        width: 100%;
        height: 3px;
        background-color: #e0e3e6;
        transition: background-color .4s;
    }
    
    &:last-child {
        margin-right: 0px;
    }
    
    &.active {
        &::before {
            background-color: #85939f;
        }
    }
}

.product__info {
    width: calc(50% - 15px);
    position: relative;
    z-index: 2;
}

.product__info-header {
    position: relative;
    
    .name {
        font-size: 28px;
        line-height: 32px;
        text-transform: uppercase;
    }
    
    .star__list {
        margin: 30px 0px;
    }
}

.product__info_list {
    font-size: 16px;
    line-height: 28px;
}

.product__info_item {
    margin-bottom: 10px;
    
    .description {
        font-weight: 700;
    }
}

.product-code__wrapper {
    position: absolute;
    right: 0px;
    top: calc(100% + 30px);
    text-align: right;
}

.product-availability {
    color: #0d990d;
    font-weight: 700;
    margin-bottom: 15px;
}

.product-code {
    span {
        font-weight: 700;
    }
}

.product__info {
    .price__wrapper {
        margin-top: 70px;
        font-weight: 700;
        align-items: flex-end;
        
        span {
            text-transform: uppercase;
        }
        
        .price {
            font-size: 44px;
            line-height: 25px;
            
            span {
                font-size: 24px;
            }
        }
        
        .price_old {
            font-size: 24px;
        }
    }
}

.product-order__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.product-calc {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-left: -25px;
    
    button {
        display: flex;
        align-items: center;
        width: 70px;
        height: 40px;
        background-color: #e2e8ee;
        border: none;
        font-size: 24px;
        position: relative;
        z-index: 1;
        cursor: pointer;
        
        
        &::before {
            position: absolute;
            height: 100%;
            top: 3px;
        }
    }
    
    .delete {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        right: -25px;
        
        &::before {
            content: "-";
            left: 23px;
            top: 2px;
        }
    }
    
    .add {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        left: -25px;
        
        &::before {
            content: "+";
            right: 22px;
        }
    }
}

.product-calc__decor-input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f7f9;
    font-size: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #e2e8ee;
    z-index: 2;
    outline: none;
    user-select: none;
}
    
.product-card {
    width: 300px;
    
    span {
        padding-right: 5px;
        
        &::before {
            color: #fff;
        }
    }
    
    .main-button-color {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.product-tabs {
    margin-top: 65px;
    margin-bottom: 110px;
}

.general-tabs__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    color: #85939f;
    font-size: 15px;
    line-height: 17px;
    font-weight: 600;
    
    border-bottom: 1px solid #e2e8ee;
    text-align: center;
}

.general-tabs__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.6%;
    height: 44px;
    position: relative;
    padding-bottom: 10px;
    cursor: pointer;
    
    &.active {
        color: #55606a;
        font-weight: 700;
        
        &::before {
            content: "";
            position: absolute;
            left: 0px;
            bottom: -1px;
            width: 100%;
            height: 1px;
            background-color: #55606a;
        }
    }
}

.product-tabs__content {
    font-size: 16px;
    line-height: 24px;
    
    .more_info {
        display: none;
    }
}

.product-slider {
    margin-bottom: 110px;
    
    .product__list {
        position: relative;
        height: 245px;
        margin-bottom: 25px;
        margin-top: 30px;
    }
    
    .product__item {
        position: absolute;
        transform: translateX(-580px);
        opacity: 0;
        transition: transform .6s, opacity .4s, box-shadow .4s;
        
        &.show {
            transform: translateX(0px);
            opacity: 1;
            
            + .product__item {
                 transform: translateX(590px);
                 opacity: 1;
                 
                 ~ .product__item {
                     transform: translateX(1180px);
                     opacity: 0;
                 }
            }
        }
    }
}

/* /Product open */

/* Add reviews */

.reviews {
    .review_form__wrapper {
        padding: 0px;
        height: 0px;
        margin: 0px;
        transition: height .2s, margin .4s;
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 100px;
            top: 80px;
            width: 95px;
            height: 70px;
            background: url(../img/leaf-1.png) no-repeat center;
            background-size: contain;
        }

        &::after {
            content: "";
            position: absolute;
            right: 0px;
            top: 0px;
            width: 60px;
            height: 70px;
            background: url(../img/leaf-2.png) no-repeat center;
            background-size: contain;
        }
    }

    .reviews_button {
        &::before {
            content: "добавить отзыв";
        }
    }

    &.active {
        .reviews_button {
            &::before {
                content: "оставить отзыв позже";
            }
        }
        .review_form__wrapper {
            height: 730px;
            margin: 80px 0px 150px;
            padding: 0px 165px;
            transition: height .6s, margin .4s;
            overflow: initial;
        }
    }
    
    .add_reviews__list {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            right: -65px;
            top: 30px;
            width: 70px;
            height: 70px;
            background: url(../img/leaf-3.png) no-repeat center;
            background-size: contain;
        }

        &::after {
            content: "";
            position: absolute;
            left: -60px;
            bottom: -60px;
            width: 60px;
            height: 70px;
            background: url(../img/leaf-4.png) no-repeat center;
            background-size: contain;
        }
    }
}

.add_reviews__wrapper {
    margin-bottom: 80px;

    .main_button {
        margin: 30px auto 40px;
    }

    .main_caption {
        margin-bottom: 80px;
    }

    .add_reviews__list {
        margin-bottom: 50px;
    }
}

.add_reviews__list {
    margin-bottom: 100px;
}

.add_reviews__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f6f8fa;
    padding: 45px 50px;
    margin-bottom: 40px;
    
    &:last-child {
        margin-bottom: 0px;
    }
    
    .reviews_img {
        width: calc(17% - 15px);
        height: 160px;
        border-radius: 50%;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    
    .reviews__info {
        width: calc(83% - 15px);
        font-size: 16px;
        line-height: 24px;
        
        .content {
            max-height: 95px;
            overflow: hidden;
            transition: max-height 0.1s;
        }
    }
    
    &.active {
        .reviews__info {
            .content {
                max-height: 230px;
                transition: max-height 0.4s linear;
            }
            
            .more_info {
                &::before {
                    content: "Скрыть";
                }
            }
        }
    }
}

.reviews__info-header {
    .reviews-mobile_img {
        display: none;
    }
    
    .reviews-name {
        font-size: 18px;
        line-height: 25px;
        font-weight: bold;
    }
    
    .reviews-data {
        font-size: 16px;
        line-height: 22px;
    }
    
    .wrapper {
        > div {
            display: flex;
            justify-content: space-between;
        }
    }
    
    .star__list {
        margin: 22px 0px 18px;
    }
}


/* /Add reviews */

/* Blog page */

.blog-page {
    margin-bottom: 80px;

    .general-tabs__list {
        justify-content: flex-start;
        margin-top: 55px;
    }

    .blog__item {
        margin-bottom: 32px;
    }

    .main_button {
        margin: 0px auto;
    }
}

/* /Blog page */

/* Recipe */

.recipe__wrapper {
    margin-bottom: 80px;

    .main_button {
        margin: 0px auto;
    }
}

.recipe__list {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    margin-bottom: -110px;
}


.recipe__item {
    display: flex;
    margin-bottom: 130px;
    position: relative;

    .img {
        width: 538px;
        height: 354px;
        margin-right: 40px;
        border-radius: 10px;
    }

    &:nth-child(2n) {
        align-self: center;

        .recipe-decor {
            position: absolute;
            left: -110px;
            bottom: 60px;
            width: 105px;
            height: 90px;
            background: url(../img/recipe-img-decor-4.png) no-repeat center;
            background-size: contain;
        }
    }

    .recipe-decor {
        position: absolute;
        right: 70px;
        bottom: -60px;
        width: 60px;
        height: 70px;
        background: url(../img/recipe-img-decor-3.png) no-repeat center;
        background-size: contain;
    }

    &.start {
        .recipe-decor {
            position: absolute;
            right: 135px;
            top: -60px;
            width: 80px;
            height: 95px;
            background: url(../img/recipe-img-decor-1.png) no-repeat center;
            background-size: contain;
        }

        .img {
            order: 1;
            margin-right: 0px;
            margin-left: 125px;
        }

        + .recipe__item {
            .img {
                order: 1;
                margin-right: 0px;
                margin-left: 125px;
            }

            .recipe-decor {
                position: absolute;
                left: -100px;
                top: -60px;
                width: 110px;
                height: 125px;
                background: url(../img/recipe-img-decor-2.png) no-repeat center;
                background-size: contain;
            }
        }
    }
}

.recipe_description {
    width: 265px;
    font-size: 16px;
    line-height: 24px;

    .caption {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 32px;
    }

    .sub-caption {
        font-size: 16px;
        margin-bottom: 16px;
    }

    ul {
        margin-bottom: 32px;
    }

    li {
        margin-bottom: 14px;
    }
}


/* /Recipe */

/* Card */

.card {
    margin-bottom:  150px;
}

.card__wrapper-header {
    display: flex;
    justify-content: space-between;
    
    .delete-card {
        cursor: pointer;
        font-size: 16px;
    }
}

.card__list {
    margin-top: 32px;
}

.card__item {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(225, 232, 238, 0.5);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 32px;
    position: relative;
    
    &:last-child {
        margin-bottom: 40px;
    }
    
    .card__img {
        width: 160px;
        height: 205px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    
    .delete-item {
        width: 32px;
        height: 32px;
        
        span {
            font-size: 11px;
        }
    }
}

.card__description {
    width: calc(83% - 15px);
    
    .card__img {
        display: none;
    }
    
    .price__wrapper {
        align-items: flex-end;
        
        span {
            padding-right: 5px;
        }
        
        .price {
            font-weight: 700;
            font-size: 18px;
        }
    }
    
    .product-calc {
        .type {
            position: relative;
            right: -20px;
        }
    }
    
    .total-price {
        .description {
            font-size: 18px;
        }
    }
}

.description-header {
    margin-bottom: 24px;
    
    h4 {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 8px;
    }
    
    .wrapper {
        padding-bottom: 24px;
        border-bottom: 1px solid #C4CED6;
    }
    
    .card-weight {
        display: none;
    }
}

.description-footer {
    .card-weight {
        margin-bottom: 13px;
    }
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.total-price__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    .total {
        font-size: 18px;
        margin-right: 40px;
    }
    
    .description {
        font-size: 24px;
    }
}


/* /Card */

/* Page info */

.page-info {
    margin-bottom: 145px;
}

.page-info__wrapper {
    h5 {
        font-size: 20px;
        margin-bottom: 24px;
    }
    
    .time-publication {
        font-size: 16px;
        margin-bottom: 6px;
    }
    
    .main_caption {
        text-align: left;
        font-size: 36px;
        line-height: 47px;
        margin-bottom: 32px;
    }
    
    .page-info__img {
        width: 100%;
        height: 400px;
        margin-bottom: 32px;
        
        img {
            height: 100%;
            min-width: 100%;
            object-fit: cover;
        }
    }
}

.page-info__description {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    font-size: 16px;
    line-height: 24px;
    
    p {
        margin-bottom: 32px;
    }
    
    h3 {
        margin-bottom: 24px;
        margin-top: 40px;
    }
    
    ul {
        margin-bottom: 32px;
        
        li {
            position: relative;
            padding-left: 24px;
            margin-bottom: 24px;
            
            &::before {
                content: "";
                position: absolute;
                left: 0px;
                top: 7px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #55606A;
            }
        }
    }
}

.page-info__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    
    a {
        text-decoration: none;
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        
        &.disable {
            color: #C4CED6;
            
            span {
                &:before {
                    color: #C4CED6;
                }
            }
            
            &:hover {
                color: #C4CED6;
                
                span {
                    &:before {
                        color: #C4CED6;
                    }
                }
            }
        }
    }
    
    .prev-page {
        span {
            padding-right: 10px;
        }
    }
    
    .next-page {
        position: relative;
        padding-right: 40px;
        
        span {
            position: absolute;
            right: 0px;
            top: 3px;
        }
    }
}

/* /Page info */

/* Photo page */

.photo__wrapper {
    margin-bottom: 80px;
    
    .main_button {
        margin: 0px auto;
    }
}

.photo__list {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    
    .wrapper {
        &:nth-of-type(2) {
            margin-top: 80px;
        }
    }
}

.photo__item {
    width: 540px;
    height: 337px;
    margin-bottom: 40px;
    border-radius: 10px;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

/* /Photo page */

/* Document page */

.document-page__wrapper {
    .document-sub {
        margin-top: 32px;
        font-size: 16px;
        line-height: 24px;
    }
}

.document-page__list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: 150px;
}

.document-page__item {
    width: 255px;
    
    margin-right: 30px;
    margin-bottom: 30px;
    
    .img {
        width: 100%;
        height: 313px;
        box-shadow: 0px 4px 25px rgba(225, 232, 238, 0.5);
        margin-bottom: 16px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    h4 {
        font-size: 16px;
        margin-bottom: 8px;
    }
    
    .document-time {
        font-size: 14px;
    }
}

/* /Document page */

/* Contact */

.contact__address {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 85px;
    
    .map {
        width: 730px;
        height: 536px;
        
        img {
            height: 100%;
        }
    }
}

.cantact__address-name {
    margin-bottom: 16px;
}

.contact__list {
    margin-bottom: 32px;
    
    &:nth-of-type(2){
        margin-bottom: 24px;
    }
}

.contact__item {
    margin-bottom: 16px;
    padding-left: 25px;
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 16px;
        height: 23px;
        background: url(../img/contact-icon.svg) no-repeat center;
        background-size: contain;
    }
    
    &:last-child {
        margin-bottom: 0px;
    }
}

.contact__link {
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
    font-weight: 600;
    
    &:last-child {
        margin-bottom: 0px;
    }
}

.contact__form {
    margin-bottom: 80px;
    position: relative;
    padding: 0px 165px;
    
    .main_caption {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 35px;
    }
    
    &::before {
        content: "";
        position: absolute;
        left: -250px;
        top: -150px;
        width: 445px;
        height: 515px;
        background: url(../img/contact-img-1.png) no-repeat center;
    }
    
    .main_button {
        margin: 37px auto 0px;
    }
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        
        .input__wrapper {
            width: calc(50% - 15px);
        }
        
        .main_input {
            width: 100%;
        }
    }
    
    .input__wrapper {
        margin-bottom: 25px;
        
        textarea {
            height: 155px;
            resize: none;
            padding-top: 20px;
        }
    }
}

/* Delivery pageinfo */

.delivery__wrapper {
    margin-bottom: 80px;
    
    .main_caption {
        margin-bottom: 24px;
        position: relative;
        
        .delivey-decor {
            position: absolute;
            right: 380px;
            top: -50px;
            width: 50px;
            height: 58px;
            background: url(../img/leaf-2.png) no-repeat center;
            background-size: contain;
        }
        
        &:nth-of-type(2) {
            .delivey-decor {
                position: absolute;
                right: -100px;
                top: -130px;
                width: 140px;
                height: 140px;
                background: url(../img/delivey-decor-img.png) no-repeat center;
                background-size: contain;
            }
        }
    }
}

.delivery-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.delivery-callback {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    position: relative;
    
    a {
        font-weight: 700;
        text-decoration: none;
    }
    
    .delivey-decor {
        position: absolute;
        left: -60px;
        bottom: -50px;
        width: 60px;
        height: 65px;
        background: url(../img/leaf-4.png) no-repeat center;
        background-size: contain;
    }
}

.delivery-sub-info {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    position: relative;
    
    .delivey-decor {
        position: absolute;
        right: -250px;
        top: -250px;
        width: 60px;
        height: 80px;
        background: url(../img/green.png) no-repeat center;
        background-size: contain;
        transform: rotate(90deg);
    }
}


.delivery__list {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 150px;
    position: relative;
    
    &.type-order {
        .delivery__item {
            width: calc(50% - 15px);
        }
        
        margin-bottom: 60px;
        
        .delivey-decor {
            position: absolute;
            left: -380px;
            bottom: -50px;
            width: 105px;
            height: 105px;
            background: url(../img/delivey-decor-img.png) no-repeat center;
            background-size: contain;
            transform: rotate(-90deg);
        }
    }
    
    .delivey-decor {
        position: absolute;
        left: -80px;
        bottom: -100px;
        width: 80px;
        height: 100px;
        background: url(../img/leaf-1.png) no-repeat center;
        background-size: contain;
        transform: rotate(-90deg);
    }
}

.delivery__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 350px;
    padding: 80px 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(225, 232, 238, 0.5);
    border-radius: 10px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    
    h3 {
        margin-bottom: 24px;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 27px;
    }
    
    p {
        margin-bottom: 8px;
        
        &:last-child {
            margin-bottom: 0px;
        }
    }
    
    .info {
        margin-top: auto;
        font-size: 14px;
    }
    
    .delivery-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        background-color: #F7F9FB;
        border-radius: 50%;
        margin-bottom: 32px;
    }
    
    .delivey-decor {
        position: absolute;
        right: -200px;
        left: auto;
        top: 150px;
        bottom: auto;
        width: 85px;
        height: 85px;
        background: url(../img/delivey-decor-img.png) no-repeat center;
        background-size: contain;
        transform: rotate(90deg);
    }
}

.delivery__link {
    margin-top: auto;
    color: #0D990D;
    padding-bottom: 8px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 1px;
        background-color: #0D990D;
    }
}

/* /Delivery pageinfo */

/* Delivery orderinfo */

.delivery__item {
    input {
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0;
        z-index: -1;
        
        &:checked {
            + .custome-radio {
                &::before {
                    opacity: 1;
                }
            }
        }
    }
    
    .custome-radio {
        position: absolute;
        left: 30px;
        top: 30px;
        width: 20px;
        height: 20px;
        border: 2px solid #55606A;
        border-radius: 50%;
        
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #55606A;
            opacity: 0;
            transition: opacity .4s;
        }
    }
}

.delivery-type-caption {
    text-align: center;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 32px;
    padding: 0px 250px;
}

.delivery-data {
    max-height: 330px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 120px;
    
    .input__wrapper {
        width: calc(50% - 20px);
        
        textarea {
            height: 158px;
            padding-top: 15px;
            resize: none;
        }
        
        p {
            margin-top: 8px;
            font-size: 16px;
            line-height: 22px;
            
            a {
                font-weight: 700;
                text-decoration: none;
            }
        }
    }
}

.delivery-point {
    margin-top: -70px;
    margin-bottom: 150px;
    
    h4 {
        font-size: 16px;
        line-height: 22px;
        margin-top: 32px;
    }
}

.delivery-point__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-right: -15px;
}

.delivery-point__item {
    position: relative;
    width: calc(33.33% - 15px);
    margin-bottom: 22px;
    padding-left: 30px;
    margin-right: 15px;
    
    input {
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0;
        z-index: -1;
        
        &:checked {
            + .custome-radio {
                &::before {
                    opacity: 1;
                }
            }
        }
    }
    
    .custome-radio {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 20px;
        height: 20px;
        border: 2px solid #55606A;
        border-radius: 50%;
        
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #55606A;
            opacity: 0;
            transition: opacity .4s;
        }
    }
}

/* /Delivery orderinfo */

/* About us */

.about-us {
    margin-bottom: 80px;
    
    .our-secret__wrapper {
        position: relative;
        
        .about-us__decor {
            position: absolute;
            right: -100px;
            top: 130px;
            width: 60px;
            height: 80px;
            background: url(../img/leaf-2.png) no-repeat center;
            background-size: contain;
        }
    }
}

.about-us__wrapper {
    position: relative;
    
    > .about-us__decor {
        position: absolute;
        left: -450px;
        bottom: -350px;
        width: 215px;
        height: 215px;
        background: url(../img/about-us-decor.png) no-repeat center;
        background-size: contain;
    }
}
.about-us__sub-info {
    margin-top: 32px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    position: relative;
    
    .about-us__decor {
        position: absolute;
        left: -50px;
        top: -50px;
        width: 55px;
        height: 75px;
        background: url(../img/leaf-4.png) no-repeat center;
        background-size: contain;
        transform: rotate(90deg);
    }
}

.about-us__list {
    margin-top: 80px;
}

.about-us__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 150px;
    position: relative;
    
    .about-us__decor {
        position: absolute;
        right: -100px;
        bottom: 20px;
        width: 75px;
        height: 75px;
        background: url(../img/about-us-decor.png) no-repeat center;
        background-size: contain;
    }
    
    &:nth-child(2n) {
        .description {
            order: 1;
        }
        
        .about-us__decor {
            position: absolute;
            right: -350px;
            bottom: 250px;
            width: 120px;
            height: 120px;
            background: url(../img/about-us-decor.png) no-repeat center;
            background-size: contain;
        }
    }
    
    h5 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 16px;
    }
    
    .description {
        width: calc(40% - 15px);
    }
    
    .img {
        width: calc(60% - 15px);
        height: 350px;
        border-radius: 10px;
        
        img {
            border-radius: 10px;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.about-us-buttons__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .main-button-color {
        margin-bottom: 32px;
    }
}

/* /About us */