@media (max-width: 1250px) {
    .button-arrow {
        padding: 5px;
    }
    
    .main_reviews__button {
        left: -30px;
        width: calc(100% + 60px);
    }
}

@media (max-width: 1160px) {
    
    /* Main slider */
    
    .slider_info {
        max-width: 400px;
        padding-top: 105px;
        
        .main_caption {
            margin-bottom: 8px;
            line-height: 34px;
        }
    }
    
    .main-screen__slider {
        height: 560px;
        margin-top: -50px;
        margin-bottom: 65px;
    }
    
    .slider_item {
        > div {
            height: 100%;
        }
    }
    
    .slider_info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .main-button-color {
            margin-bottom: 105px;
        }
        
        p {
            max-height: 150px;
            overflow: hidden;
        }
    }
    
    .main-screen__button {
        bottom: 30px;
        
        .number-slider {
            margin: 0px 5px;
        }
    }
    
    /* /Main slider */
    
    /* Our-secret */
    
    .our-secret__wrapper {
        > p {
            margin: 15px 0px 0px;
        }
        
        .wrapper {
            margin-top: 55px;
        }
    }
    
    .our-secret__main-img {
        display: none;
    }
    
    .our-secret__list {
        width: 50%;
        text-align: center !important;
        font-size: 16px;
        line-height: 24px;
        
        .description {
            order: 1;
            width: 100%;
        }
        
        .img {
            margin-bottom: 10px;
        }
        
        h5 {
            font-size: 16px;
            margin-bottom: 5px;
        }
        
        &:last-of-type {
            
            .our-secret__item {
                margin-right: 0px;
            }
        }
    }
    
    .our-secret__item {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        margin-right: 80px;
        min-height: 165px;
        
        &:last-child {
            margin-bottom: 0px;
        }
    }
    
    /* Our-secret */
    
    /* Product Cart */
    
    .popular-product__wrapper {
        &::before {
            display: none;
        }
    }
    
    .sale-product__wrapper {
        &::before {
            display: none;
        }
    }
    
    .main-page {
        .product__list,
        .blog__list {
            flex-wrap: nowrap;
            overflow: auto;
            padding-left: calc((100vw - 750px) / 2);
            margin-right: -30px;
            
            &::-webkit-scrollbar {
                display: none;
            }
            
            .mobile-item {
                display: block;
                width: 1px;
                height: 1px;
                padding: 10px;
                
                &:first-of-type {
                    display: none;
                }
            }
        }

        .blog__list {
            .blog__item {
                &:last-of-type {
                    margin-right: 30px;
                }
            }
        }
        
        .product__item {
            margin-right: 30px;
        }
    }
    
    .product__item {
        width: 345px;
        flex-shrink: 0;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 20px;
        
        .img {
            width: 115px;
            height: 160px;
            margin: 0px 0px 32px;
        }
        
        .product__description {
            width: 100%;
        }
        
        .sale-percent {
            left: 20px;
        }
        
        .name {
            display: flex;
            justify-content: space-between;
            line-height: 22px;
        }
        
        .star-sub-info__wrapper {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 0px;
        }
        
        .star__list {
            margin: 16px 0px;
        }
        
        .info {
            margin-bottom: 15px;
            font-size: 16px;
            line-height: 22px;
            height: 90px;
        }
    }
    
    .procuct__item-footer {
        .price {
            font-size: 20px;
            line-height: 27px;
        }
    }
    
    .popular-product {
        margin-bottom: 100px;
    }
    
    .sale-product {
        margin-bottom: 100px;
    }
    
    /* /Product Cart */
    
    /* Subscription */
    
    .subscription {
        background-position: 25% 50%;
        padding: 30px 0px 50px;
    }
    
    .subscription_form {
        .main_input {
            width: 55%;
            font-size: 14px;
        }
    }
    
    .subscription__wrapper {
        p {
            line-height: 24px;
            margin-top: 15px;
        }
    }
    
    /* /Subscription */
    
    /* Reviews */
    
    .main_reviews {
        margin: 100px 0px;
    }

    .main_reviews__wrapper {
        &::before,
        &::after {
            display: none;
        }
    }
    
    .main_reviews__text-list {
        margin-top: 15px;
    }
    
    .main_reviews__text-item {
        padding: 35px 0px;
        
        h4 {
            font-size: 16px;
            margin-bottom: 8px;
        }
    }
    
    .main_reviews__button {
        top: -70%;
        left: 50%;
        width: 530px;
        transform: translateX(-50%);
    }
    
    /* Reviews */
    
    .main-decor-bg {
        display: none;
    }
    
    /* Blog */
    
    .blog {
        margin-bottom: 100px;
    }
    
    .blog__item  {
        h5 {
            font-size: 16px;
            margin-bottom: 8px;
        }
        
        .description-header {
            font-size: 12px;
            margin-bottom: 10px;
        }
        
        .description {
            height: 190px;
            padding: 20px 20px 0px;
        }
        
        .more {
            font-size: 14px;
            padding: 0px 20px;
        } 
    }
    
    /* Catalog */
    
    .catalog__button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .catalog__wrapper {
        .catalog__filter {
            width: 100%;
            display: flex;
            justify-content: space-between;
            
            .mobile-filter {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            
            .sort_type {
                &:first-child {
                    margin-bottom: 25px;
                }
                
                .drop_item {
                    width: 195px;
                }
            }
        }
        
        .sort-desktop {
            display: none;
        }
        
        > .wrapper {
            flex-direction: column;
        }
        
        .poduct__list_wrapper {
            width: 100%
        }
        
        .product__item {
            width: 345px;
            height: 100%;
            
            > .img {
                display: block;
                height: 160px;
            }
            
            .info {
                height: 90px;
            }
            
            .star__list {
                order: 1;
            }
            
            .name {
                margin-bottom: 8px;
            }
        }
        
        
        .product__description {
            .wrapper {
                width: 100%;
                
                > p {
                    display: none;
                }
            }
            
            .img {
                display: none;
            }
        }
        
        .product__description-header {
            flex-direction: column;
            width: 100%;
            margin-bottom: 0px;
            
            p {
                display: block;
                color: #afbbc6;
                font-size: 14px;
                line-height: 16px;
            }
        }
        
        .price__wrapper {
            flex-direction: row;
            align-items: center;
            
            .price_old {
                order: 1;
                margin-left: 14px;
                margin-top: 0px;
            }
        }
    }
    
    .product__sort {
        justify-content: flex-end;
    }
    
    .catalog__checkbox {
        display: none;
    }
    
    /* /Catalog */
    
    /* Product open */
    
    .product-code__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        
        .product-availability {
            order: 1;
            margin-bottom: 0px;
        }
    }
    
    .product__info-header {
        .star__list {
            margin: 8px 0px;
        }
    }
    
    .product__info_item {
        margin-bottom: 8px;
    }
    
    .product__info {
        .price__wrapper {
            margin-top: 40px;
            
            .price {
                font-size: 36px;
            }
            
            .price_old {
                font-size: 16px;
            }
        }
    }
    
    .product-order__wrapper {
        flex-direction: column;
        margin-top: 20px;
        
        .main-button-color {
            margin-top: 30px;
            max-width: 100%;
        }
    }
    
    .product__slider_buttons {
        left: 10px;
        width: calc(100% - 20px);
    }
    
    .general-tabs__list {
        overflow-x: auto;
        margin-bottom: 24px;
    }
    
    .general-tabs__item {
        width: initial;
        flex-shrink: 0;
        white-space: nowrap;
        padding: 0px 20px;
        height: 50px;
        text-transform: uppercase;
        
        &.active {
            &::before {
                height: 2px;
            }
        }
    }
    
    .product-tabs {
        margin-bottom: 70px;
        
        .wrapper {
            position: relative;
        
            &::before {
                content: "";
                right: 0px;
                top: 0px;
                position: absolute;
                display: flex;
                width: 25px;
                height: 100%;
                z-index: 2;
                background: -webkit-linear-gradient(left, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0.9) 100%);
                background: -moz-linear-gradient(left, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0.9) 100%);
                background: -ms-linear-gradient(left, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0.9) 100%);
                background: linear-gradient(left, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0.9) 100%);
            }
        }
    }
    
    .product-slider {
        margin-bottom: 65px;
        
        .product__list {
            height: 470px;
            margin-right: 0px;
        }
        
        .product__item {
            &.show {
                + .product__item {
                    transform: translateX(365px);
                }
            }
        }
    }
    .product__slider_item {
        &.show {
            transform: translateX(-135px);
        }
    }
    
    .product__dots_button {
        width: 38px;
        margin-right: 15px;
    }
    
    /* /Product open */
    
    /* Add reviews */
    .reviews {
        &.active {
            .review_form__wrapper {
                padding: 0px;
                margin: 32px 0px 100px;
                height: 665px;

                &::before,
                &::after {
                    display: none;
                }
            }
        }

        .add_reviews__list {
            &::before,
            &::after {
                display: none;
            }
        }
    }
    
    .add_reviews__wrapper {
        .main_caption {
            margin-bottom: 32px;
        }
    }

    .add_reviews__item {
        padding: 30px 20px;
        
        .reviews_img {
            height: 90px;
        }
        
        &.active {
            .reviews__info {
                .content {
                    max-height: 400px;
                }
            } 
        }
        .reviews__info {
            .content {
                max-height: 75px;
            }
        } 
    }
    
    .reviews__info-header {
        .reviews-name {
            font-size: 14px;
        }
        
        .reviews-data {
            font-size: 12px;
        }
        
        .star__list {
            margin: 8px 0px 16px 0px;
        }
    }
    
    /* /Add reviews */

    /* Blog page */

    .blog-page {
        .blog__item {
            width: 340px;
        }

        .general-tabs__list {
            margin-top: 32px;
        }
        
        .general-tabs__item {
            padding: 0px 25px;
        }
    }

    /* /Blog page */

    /* Recipe */

    .recipe__wrapper {
        .main_button {
            margin: 20px auto 0px;
        }
    }

    .recipe__item {
        justify-content: space-between;
        margin-bottom: 95px;

        .recipe-decor {
            right: -1000px;
        }


        &:nth-child(odd) {
            .img {
                order: 1;
            }
        }

        &:nth-child(2n) {
            .recipe-decor {
                width: 60px;
                height: 50px;
                left: 300px;
                bottom: 130px;
                transform: rotate(45deg);
            }
        }

        &.start {
            .recipe-decor {
                width: 40px;
                height: 45px;
                right: 230px;
                top: -120px;
            }

            + .recipe__item {
                .img {
                    order: 0;
                }

                .recipe-decor {
                    width: 60px;
                    height: 65px;
                    top: auto;
                    left: 150px;
                    bottom: -60px;
                    transform: rotate(90deg);
                }
            }
        }

        .img {
            width: calc(50% - 15px);
            height: 225px;
            margin: 0px !important;
        }

        .recipe_description {
            width: calc(50% - 15px);

            .caption {
                font-size: 22px;
                margin-bottom: 16px;
            }

            ul {
                margin-bottom: 24px;
            }
        }
    }

    /* /Recipe */
    
    /* Card */
    
    .card {
        margin-bottom: 100px;
    }
    
    .card__item {
        .description-footer {
            position: relative;
            
            .card-weight {
                margin-bottom: 42px;
            }
        }
        
        .product-calc {
            position: absolute;
            right: -23px;
            top: -13px;
        }
    }
    
    .card__description {
        width: calc(75% - 15px);
    }
    
    /* /Card */
    
    /* Page info */
    
    .page-info {
        margin-bottom: 80px;
    }
    
    .page-info__wrapper {
        h5 {
            font-size: 16px;
        }
        
        .time-publication {
            font-size: 12px;
        }
        
        .main_caption {
            margin-bottom: 24px;
        }
        
        .page-info__img {
            margin-bottom: 24px;
        }
    }
    
    .page-info__description {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
    }
    
    .page-info__buttons {
        margin-top: 10px;
        
        a {
            max-width: 300px;
        }
    }
    
    /* /Page info */
    
    /* Photo page */
    
    .photo__wrapper {
        margin-bottom: 95px;
    }
    
    .photo__item {
        width: 342px;
        height: 213px;
        margin-bottom: 32px;
    }
    
    .photo__list {
        margin-bottom: 10px;
        
        .wrapper {
            &:nth-of-type(2) {
                margin-top: 40px;
            }
        }
    }
    
    /* /Photo page */
    
    /* Document page */
    
    .document-page__list {
        margin-right: -20px;
        margin-bottom: 95px;
    }
    
    .document-page__item {
        width: 220px;
        margin-right: 20px;
        
        h4 {
            font-size: 18px;
            margin-top: 24px;
        }
        
        .document-time {
            font-size: 14px;
        }
    }
    
    /* /Document page */
    
    /* Contact */
    
    .contact__form {
        padding: 0px;
        margin-bottom: 50px;
        
        &::before {
            display: none;
        }
        
        .main_caption {
            font-size: 24px;
            margin-bottom: 32px;
        }
        
        .input__wrapper {
            margin-bottom: 16px;
        }
        
        .main_button {
            margin-top: 32px;
        }
    }
    
    .contact__address {
        flex-direction: column;
        
        .wrapper {
            display: flex;
            justify-content: space-between;
            order: 1;
            
            > div {
                width: calc(50% - 15px);
            }
        }
        
        .map {
             width: 100%;
             height: 525px;
             margin-bottom: 32px;
        }
    }
    
    .cantact__address-name {
        font-size: 18px;
    }
    
    /* /Contact */
    
    /* Delivery pageinfo */
    
    .delivery__wrapper {
        .main_caption {
            margin-bottom: 16px;
            
            .delivey-decor {
                display: none;
            }
            
            &:nth-of-type(2) {
                .delivery-decor {
                    display: none;
                }
            }
        }
    } 
    
    .delivery-sub-info {
        font-size: 16px;
    }
    
    .delivery__list {
        margin-top: 32px;
        justify-content: center;
        margin-right: -30px;
        margin-bottom: 100px;
        
        .delivey-decor {
            left: auto;
            right: 80px;
            bottom: 270px;
            transform: rotate(120deg);
        }
        
        &.type-order {
            .delivery__item {
                width: calc(50% - 30px);
            }
        }
    }
    
    .delivery__item {
        width: calc(50% - 30px);
        padding: 30px 50px;
        font-size: 12px;
        line-height: 18px;
        margin-right: 30px;
        
        .delivey-decor {
            display: none;
        }
        
        h3 {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 16px;
        }
        
        &:nth-child(3) {
            margin-top: 32px;
            margin-right: 0px;
        }
        
        .info {
            margin-top: 60px;
        }
    }
    
    .delivery__link {
        margin-bottom: 20px;
    }
    
    .delivery-sub-info {
        line-height: 24px;
        
        .delivey-decor {
            right: auto;
            left: 190px;
            top: -90px;
            transform: rotate(-30deg);
        }
    }
    
    .delivery-button {
        margin-bottom: 32px;
    }
    
    .delivery-callback {
        font-size: 15px;
        
        .delivey-decor {
            display: none;
        }
    }
    
    /* /Delivery pageinfo */
    
    /* Delivery orderpage */
    
    .delivery-data {
        max-height: 370px;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 100px;
        
        &.delivery-point-form {
            flex-direction: column;
        }
        
        .input__wrapper {
            width: calc(50% - 20px);
            
            textarea {
                height: 158px;
                padding-top: 15px;
                resize: none;
            }
            
            p {
                margin-top: 8px;
                font-size: 14px;
                line-height: 22px;
                
                a {
                    font-weight: 700;
                }
            }
            
            &.textarea {
                width: 100%;
            }
        }
    }
    
    .delivery-type-caption {
        font-size: 24px;
        line-height: 32px;
        padding: 0px;
    }
    
    .delivery-point__item {
        width: calc(50% - 15px);
    }
    
    .delivery-point {
        margin-top: 0px;
        margin-bottom: 100px;
    }
    
    /* /Delivery orderpage */
    
    /* /About us */
    
    .about-us {
        margin-bottom: 55px;
        
        .about-us__decor {
            display: none;
        }
    }
    
    .about-us__list {
        margin-top: 32px;
    }
    
    .about-us__sub-info {
        margin-top: 16px;
        font-weight: 600;
    }
    
    .about-us__item {
        flex-direction: column;
        margin-bottom: 100px;
        
        h5 {
            font-size: 24px;
            line-height: 32px;
        }
        
        .description {
            width: 100%;
            order: 1;
        }
        
        .img {
            height: 410px;
            width: 100%;
            margin-bottom: 24px;
        }
    }
    
    .about-us-buttons__wrapper {
        .main-button-color {
            margin-bottom: 16px;
        }
    }
    
    /* /About us */
}

@media (max-width: 768px) {
    
    /* Main slider */
    
    .main-screen__slider {
        height: 520px;
    }
    
    .slider_info  {
        max-width: 100%;
        padding-top: 90px;
        
        .main-button-color {
            margin-bottom: 90px;
        }
        
        .main_caption {
            font-size: 20px;
            line-height: 27px;
        }
        
        p {
            margin-bottom: 30px;
            max-height: 200px;
        }
    }
    
    .main-screen__slider {
        margin-bottom: 50px;
    }
    
    .main-screen__button {
        bottom: 25px;
    }
    
    /* /Main slider */
    
    /* Our secret */
    
    .our-secret__wrapper {
        > p {
            margin-top: 8px;
        }
        
        .wrapper {
            flex-direction: column;
        }
    }
    
    .our-secret__item {
        margin-right: 0px;
        margin-bottom: 40px;
    }
    
    .our-secret__list {
        width: 100%;
        margin-bottom: 40px;
        
        &:last-child {
            margin-bottom: 0px;
        }
    }
    
    .our-secret__wrapper {
        margin-bottom: 50px;
    }
    
    /* /Our secret */
    
    /* Product cart */
    
    .main-page {
        .product__list,
        .blog__list {
            padding-left: calc((100vw - 400px) / 2);
        }
        
        .product__item {
            width: 280px;
            margin-right: 10px;
            
            &:last-of-type {
                margin-right: 20px;
            }
        }
        
        .blog__item {
            width: 280px;
            margin-right: 10px;
        }
    }
    
    .popular-product,
    .sale-product {
        margin-bottom: 40px;
    }
    
    /* /Product cart */
    
    /* Subscription */
    
    .subscription_form {
        flex-direction: column;
        
        .main_input {
            width: 100% !important;
            margin-bottom: 15px;
        }
        
        .main_button {
            &.form {
                max-width: 100%;
            }
        }
    }
    
    /* /Subscription */
    
    /* Reviews */

    .reviews {
        &.active {
            .review_form__wrapper {
                margin: 32px 0px 50px;
                height: 760px;
            }
        }
    }
    .main_reviews__img-list {
        width: 255px;
    }
    
    .main_reviews__button {
        width: 100%;
        top: -40%;
    }
    
    .button-arrow {
        padding: 10px;
    }
    
    .main_reviews__img-item {
        font-size: 14px;
        transform: translateX(-20px) scale(0.9);
        
        &.show {
            transform: translateX(65px) scale(1);
            
             + .main_reviews__img-item {
                transform: translateX(150px) scale(0.9);
            }
        }
    }
    
    .main_reviews {
        margin: 50px 0px;
    }
    
    /* /Reviews */
    
    /* Catalog */
    
    .product__list {
        margin-right: 0px;
    }
    
    .catalog__wrapper {
        .product__item {
            width: 100%;
            margin-right: 0px;
        }
        
        .catalog__filter {
            .sort_type {
                &:first-child {
                    margin-bottom: 15px;
                }
            }
        }
        
        .sort_type {
            &.number {
                display: none;
            }
        }
        
        .catalog__filter {
            flex-direction: column;
        }
    }
    
    /* /Catalog */
    
    /* Product Open */
    
    .product__wrapper {
        flex-direction: column;
    }
    
    .product__slider {
        width: 100%;
        padding: 0px 0px 25px;
        margin-bottom: 15px;
        margin-top: 110px;
        position: relative;
    }
    
    .product__info-header {
        position: absolute;
        left: 20px;
        top: 0px;
        width: calc(100% - 40px);
        
        .name {
            font-size: 24px;
        }
    }
    
    .product__info_list {
        font-size: 14px;
        line-height: 21px;
    }
    
    .product__info_item {
        display: flex;
        justify-content: space-between;
        
        .description {
            font-weight: 600;
        }
    }
    
    .product__info {
        width: 100%;
        position: initial;
        
        .price__wrapper {
            margin-top: 20px;
            
            .price_old {
                font-size: 16px;
            }
            
            .price {
                font-size: 24px;
            }
        }
    }
    
    .product-order__wrapper {
        .main-button-color {
            margin-top: 20px;
        }
    }
    
    .product-card {
        width: 100%;
    }
    
    .product-delivery {
        font-size: 14px;
    }
    
    .product__slider_list {
        width: 100%;
    }
    
    .product__slider_item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 20px 45px 25px;
        
        &.show {
            transform: translateX(0px);
        }
    }
    
    .product__dots_list {
        bottom: 20px;
    }
    
    .product-tabs {
        margin-top: 55px;
    }
    
    .general-tabs__list {
        font-size: 14px;
    }
    
    .product-tabs__content {
        .wrapper {
            max-height: 315px;
            overflow: hidden;
        }
        
        .more_info {
            display: block;
        }
    }

    .product-slider {
        .product__item {
            width: 100%;

            &.show {
                + .product__item {
                    opacity: 0;
                    transform: translateX(465px);
                }
            }
        }
    }

    /* Blog page */

    .blog-page {
        margin-bottom: 55px;

        .blog__list {
            margin-right: 0px;
        }

        .general-tabs__list {
            margin-top: 24px;
        }

        .blog__item {
            width: 100%;
            margin-right: 0px;
        }
    }

    /* /Blog page */

    /* Recipe */

    .recipe__wrapper{
        margin-bottom: 50px;
        
        .main_button {
            margin-top: 75px;
        }
    } 

    .recipe__item {
        flex-direction: column;
        margin-bottom: 50px;

        .img {
            width: 100%;
            height: 185px;
            order: 0 !important;
            margin-bottom: 16px !important;

            img {
                width: 100%;
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }

        .recipe_description {
            width: 100%;
        }

        .recipe-decor {
            display: none;
        }
    }
    
    /* /Recipe */
    
    /* Card */
    
    .card {
        margin-bottom: 80px;
    }
    
    .card__item {
        font-size: 14px;
        padding: 20px;
        margin-bottom: 24px;
        
        .card__img {
            display: none;
        }
        
        &:last-child {
            margin-bottom: 34px;
        }
    }
    
    .card__description {
        width: 100%;
    }
    
    .description-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #C4CED6;
        
        h4 {
            font-size: 18px;
            margin-bottom: 8px;
        }
        
        .card-code {
            margin-bottom: 8px;
        }
        
        .card__img {
            display: block;
            width: calc(25% - 10px);
            height: 86px;
        }
        
        .wrapper {
            width: calc(75% - 10px);
            border: none;
            padding-bottom: 20px;
        }
        
        .card-weight {
            display: block;
        }
    }
    
    .description-footer {
        .card-weight {
            display: none;
        }
        
        .wrapper {
            flex-direction: column;
            align-items: flex-start;
        }
        
        .product-calc {
            position: relative;
            right: -5px;
            top: 0px;
        }
    }
    
    .card__description {
        .price__wrapper {
            .price {
                font-size: 15px;
            }
            
            .price_old {
                font-size: 14px;
            }
        }
        
        .product-calc {
            margin-top: 8px;
            margin-bottom: 8px;
        }
        
        .total-price {
            .description {
                font-size: 16px;
            }
        }
    }
    
    .total-price__wrapper {
        flex-direction: column;
        align-items: flex-start;
        
        .total {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-right: 0px;
            margin-bottom: 32px;
        }
        
        .main-button-color {
            max-width: 360px;
        }
    }
    
    /* /Card */
    
    /* Page info */
    
    .page-info {
        margin-bottom: 55px;
    }
    
    .page-info__wrapper {
        h5 {
            font-size: 14px;
            margin-bottom: 16px;
        }
        
        .main_caption {
            font-size: 24px;
            line-height: 31px;
            margin-bottom: 20px;
        }
        
        .page-info__img {
            height: 100px;
            margin-bottom: 20px;
        }
    }
    
    .page-info__description {
        p {
            margin-bottom: 28px;
        }
        
        ul {
            margin-bottom: 28px;
        }
        
        li {
            margin-bottom: 22px;
        }
        
        h3 {
            margin-top: 22px;
            margin-bottom: 34px;
        }
    }
    
    .page-info__buttons {
        a {
            font-size: 0px;
            
            span {
                font-size: 16px;
            }
            
            &.next-page {
                span {
                    top: 0px;
                }
            } 
        }
    }
    
    /* /Page info */
    
    /* Photo page */
    
    .photo__wrapper {
        margin-bottom: 50px;
    }
    
    .photo__item {
        width: 100%;
        height: 175px;
        margin-bottom: 24px;
    }
    
    /* /Photo page */
    
    /* Document page */
    
    .document-page__wrapper {
        .document-sub {
            margin-top: 16px;
        }
    }
    
    .document-page__list {
        margin-bottom: 0px;
    }
    
    .document-page__item {
        width: 100%;
        margin-bottom: 50px;
        
        .img {
            height: 400px;
        }
    }
    
    /* /Document page */
    
    /* Contact */
    
    .contact__address {
        margin-bottom: 55px;
        
        .map {
            height: 415px;
            margin-bottom: 24px;
        }
        
        .wrapper {
            flex-direction: column;
            
            > div {
                width: 100%;
            }
        }
    }
    
    .contact__form {
        .main_caption {
            font-size: 18px;
        }
        
        .wrapper {
            flex-direction: column;
            
            .input__wrapper {
                width: 100%;
            }
        }
        
        .main_button {
            margin-top: 22px;
        }
    }
    
    .contact__list {
        margin-bottom: 24px;
    }
    
    /* /Contact */
    
    /* Delivery pageinfo */
    
    .delivery__wrapper{
        margin-bottom: 55px;
        
        .delivey-decor {
            display: none;
        }
    }
    
    .delivery__list {
        margin-right: 0px;
        margin-bottom: 25px;
        
        &.type-order {
            margin-bottom: 0px;
        }
    }
    
    .delivery-button {
        .main-button-color {
            max-width: 100%;
        }
    }
    
    .delivery__item {
        width: 100% !important;
        margin-right: 0px;
        margin-bottom: 32px;
        padding: 30px 20px;
        
        &:nth-child(3) {
            margin-top: 0px;
        }
    }
    
    /* /Delivery pageinfo */
    
    /* Delivey orderpage */
    
    .delivery-data {
        max-height: 100%;
        margin-bottom: 50px;
        
        .input__wrapper {
            width: 100%;
        }
    }
    
    .delivery-point {
        margin-bottom: 50px;
    }
    
    .delivery-type-caption {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 24px;
    }
    
    .delivery-point__list {
        margin-right: 0px;
        margin-top: 16px;
    }
    
    .delivery-point__item {
        width: 100%;
        margin-right: 0px;
    }
    
    /* /Delivey orderpage */
    
    /* About us */
    
    .about-us__item {
        margin-bottom: 55px;
        
        h5 {
            font-size: 18px;
            line-height: 27px;
        }
        
        .img {
            height: 160px;
            margin-bottom: 16px;
        }
    }
    
    .about-us-buttons__wrapper {
        .main-button-color {
            max-width: 100%;
        }
    }
}

@media (max-width: 480px) {
    
    /* Main slider */
    
    .slider_info {
        p {
            max-height: 170px;
        }
    }
    
    .main-page {
        .product__list,
        .blog__list {
            .mobile-item {
                &:first-of-type {
                    display: block;
                }
            }
        }
    }
}